## Observations and Insights

In [32]:
# Dependencies and Setup
%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mouse_data = pd.merge(mouse_metadata, study_results, on="Mouse ID", how="outer")
mouse_data.head()
# Display the data table for preview

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [33]:
# Checking the number of mice.
mouse_count=len(mouse_data["Mouse ID"].unique())
mouse_count

249

In [34]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

mouse_count_df = mouse_data[["Mouse ID", "Timepoint","Weight (g)"]]

grouped_data = mouse_count_df.groupby(['Mouse ID', 'Timepoint'])
print (grouped_data)

mouse_count=grouped_data["Weight (g)"].count()

duplicates_data=pd.DataFrame ({
                        "Mouse ID": mouse_count
                        })

duplicates=duplicates_data.loc[duplicates_data["Mouse ID"]>1,:]

duplicates

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000279D4D5DDC0>

                    Mouse ID
Mouse ID Timepoint
g989     0                 2
         5                 2
         10                2
         15                2
         20                2

In [36]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicated_mouse = mouse_data.loc[mouse_data["Mouse ID"] == "g989", :]
print(duplicated_mouse)

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)  Timepoint  \
908     g989     Propriva  Female          21          26          0
909     g989     Propriva  Female          21          26          0
910     g989     Propriva  Female          21          26          5
911     g989     Propriva  Female          21          26          5
912     g989     Propriva  Female          21          26         10
913     g989     Propriva  Female          21          26         10
914     g989     Propriva  Female          21          26         15
915     g989     Propriva  Female          21          26         15
916     g989     Propriva  Female          21          26         20
917     g989     Propriva  Female          21          26         20
918     g989     Propriva  Female          21          26         25
919     g989     Propriva  Female          21          26         30
920     g989     Propriva  Female          21          26         35

     Tumor Volume (mm3)  Metastatic Sites
908           45.000000                 0
909           45.000000                 0
910           48.786801                 0
911           47.570392                 0
912           51.745156                 0
913           49.880528                 0
914           51.325852                 1
915           53.442020                 0
916           55.326122                 1
917           54.657650                 1
918           56.045564                 1
919           59.082294                 1
920           62.570880                 2

In [40]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
mouse_data_clean=mouse_data.loc[mouse_data["Mouse ID"] !="g989"]
mouse_data_clean.count()
# should I include one record for the duplicated mouse? or just dropped all about it?

Mouse ID              1893
Drug Regimen          1893
Sex                   1893
Age_months            1893
Weight (g)            1893
Timepoint             1893
Tumor Volume (mm3)    1893
Metastatic Sites      1893
dtype: int64

In [41]:
# Checking the number of mice in the clean DataFrame.
mouse_data_clean.count()

Mouse ID              1880
Drug Regimen          1880
Sex                   1880
Age_months            1880
Weight (g)            1880
Timepoint             1880
Tumor Volume (mm3)    1880
Metastatic Sites      1880
dtype: int64

## Summary Statistics

In [42]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
mouse_data_clean.describe()
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
count,1880.000000,1880.000000,1880.000000,1880.000000,1880.000000
mean,12.757979,25.660106,19.606383,50.435293,1.025000
std,7.181998,3.935064,14.094238,8.914197,1.139971
min,1.000000,15.000000,0.000000,22.050126,0.000000
25%,7.000000,25.000000,5.000000,45.000000,0.000000
50%,13.000000,27.000000,20.000000,48.933454,1.000000
75%,19.250000,29.000000,30.000000,56.324075,2.000000
max,24.000000,30.000000,45.000000,78.567014,4.000000

In [81]:
grouped_by_regimen = mouse_data_clean.groupby(['Drug Regimen'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(grouped_by_regimen)
regimen_mean=grouped_by_regimen["Tumor Volume (mm3)"].mean()
regimen_median=grouped_by_regimen["Tumor Volume (mm3)"].median()
regimen_stddev=grouped_by_regimen["Tumor Volume (mm3)"].std()
regimen_var=grouped_by_regimen["Tumor Volume (mm3)"].var()


# SEM NOT WORKING FOR ME

# sample = mouse_data_clean.sample(180)

# print(f"The SEM value for the sample mouse tumor volume is {sem(sample.grouped_by_regimen["Tumor Volume (mm3)"])}")

regimen_summary=pd.DataFrame({
                            "Mean":regimen_mean,
                            "Median":regimen_median,
                            "Standar Deviation":regimen_stddev,
                            "Variance":regimen_var
                            })

regimen_summary

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000279D4E35910>

,Mean,Median,Standar Deviation,Variance,Number of Mice tested
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,4.994774,24.947764,10
Ceftamin,52.591172,51.776157,6.268188,39.290177,10
Infubinol,52.884795,51.820584,6.567243,43.128684,10
Ketapril,55.235638,53.698743,8.279709,68.553577,10
Naftisol,54.331565,52.509285,8.134708,66.173479,10
Placebo,54.033581,52.288934,7.821003,61.168083,10
Propriva,52.320930,50.446266,6.622085,43.852013,10
Ramicane,40.216745,40.673236,4.846308,23.486704,10
Stelasyn,54.233149,52.431737,7.710419,59.450562,10
Zoniferol,53.236507,51.818479,6.966589,48.533355,10

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [106]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.
mice_by_regimen= mouse_data_clean.loc[:,["Drug Regimen","Mouse ID"]]
# print (len(mice_by_regimen)) ->1880

mice_by_regimen_clean= pd.DataFrame.drop_duplicates (mice_by_regimen)

mice_by_regimen_clean

grouped_regimen_mouse=mice_by_regimen_clean.groupby(["Drug Regimen"])
print(grouped_regimen_mouse)

grouped_regimen_mouse_count= pd.DataFrame(
    grouped_regimen_mouse['Mouse ID'].count())
    
grouped_regimen_mouse_count


# y_value=[grouped_regimen_mouse_count["Mouse ID"]]
# x_value=[grouped_regimen_mouse_count["Drug Regimen"]]


x_axis = np.arange(len(rain_df))
tick_locations = [value+0.4 for value in x_axis]

cities = ["New Orleans", "Milwaukee", "Omaha", "Pittsburgh", "Toledo"]
bars_in_cities = [8.6, 8.5, 8.3, 7.9, 7.2]
x_axis = np.arange(len(bars_in_cities))

# Create a bar chart based upon the above data
plt.bar(x_axis, bars_in_cities, color="b", align="center")


# plt.bar(x_value, y_value, color='r', alpha=0.5, align="center")

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000279D4D5D640>

              Mouse ID
Drug Regimen
Capomulin           25
Ceftamin            25
Infubinol           25
Ketapril            25
Naftisol            25
Placebo             25
Propriva            24
Ramicane            25
Stelasyn            24
Zoniferol           25

In [ ]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen